* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #ddd;
    padding: 10px;
}
.brand {
    font-weight: bold;
    font-size: 24px;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
ul li a {
    text-decoration: none;
    color: black;
}
ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}
button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}